.tbody-container {
  border: 3px solid black;
}

.table {
  width: 67%;
  margin: auto;
}


.form-container {
  position: relative;
  
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 72%;

  margin-top: 2%;
}

.form-container__button {
  position: absolute;
  top: 108%;
  right: 0%;
}

.input-book{
  padding: 2%;
  border-radius: 10px;
}

.nav-bar-container {
  display: flex;
  justify-content: flex-end;
}

.nav-bar-main-container {
  margin: 0.5rem 4.8%;
}

.pipe-line {
  color: white;
  line-height: 2.4rem;
}

#padding-container {
  padding: 0 4rem;
}

.display-off {
  display: none;
}

.display-on{
  display: block;
}

.contact{
  display:none;
}