body {
  height: 100vh;
}

.tbody-container {
  border: 3px solid black;
}

.table {
  width: 67%;
  margin: auto;
}

.form-container {
  position: relative;

  margin: auto;
  display: flex;
  flex-direction: column;
  width: 72%;
  margin-top: 2%;
}

.form-container__button {
  position: absolute;
  top: 108%;
  right: 0%;
}

.input-book {
  padding: 2%;
  border-radius: 10px;
}

.nav-bar-container {
  display: flex;
  justify-content: flex-end;
}

.nav-bar-main-container {
  margin: 0.5rem 4.8%;
}

.pipe-line {
  color: white;
  line-height: 2.4rem;
}

#padding-container {
  padding: 0 4rem;
}

.hidden{
  display: none;
}

#contact {
  width: 58%;
  margin: auto;
}

.footer {
  text-align: left;
  border: 3px solid black;
}

#date {
  text-align: right;
  margin-right: 5%;
}

.ul-container {
  padding-left: 12rem;
  padding-right: 10rem;
}

.ul-container li {
  text-align: left;
}


