
.table{
  width: 67%;
    background-color: #e0ebe0;
    margin: auto;
    border: 1px solid;
}

.form-container{
position: relative;
width: 12.2rem;
margin: auto;

}

.form-container__button{
  position: absolute;
  top: 108%;
  right: 0%;

}




